* {margin: 0;
	padding: 0;
	text-decoration: none;
	}
a, a:visited {text-decoration: none; color: inherit;}
/** {border: 2px solid green;}*/
header {background-image: url(images/redbg.png);
		height: 100vh;
		text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
		font-weight: bold; font-size: 24pt;
	}

nav {width: 69vw;
	display: flex;
	justify-content: space-around;
	margin-left:15%;
	padding-top: 15vh;
}

nav ul li {display: inline;
	padding: 50px;
}

.titleLogo {float: left; width: 14vw;
	}

.titleLogo img {margin-left: auto;
	margin-right: auto;
	padding-left:3vw;
	padding-top: 12vh;
}

.letsTalk {
	float: right;
	width: 13vw;
	padding-top: 10vh; 
	text-align: center;
}

.hero {
	margin-left: 15vw;
	width: 70vw;
	margin-top: 15vh;
	font-size: 45pt;
	letter-spacing: 5px;
}

.white {color: white;
}


.ourServices, .studio {background-color: #141414;
	height: 70vh;
	color: #fdfdfd;
	padding: 20vh 12vw;
	font-family:calibri;
	font-weight: normal;
}

.ourServices img {float: right;
	padding-top: 10vh;
	width: 40vw;
}

.ourServicesText, .studioText {width: 600px;
	height: 65vh;
	padding-top: 10px;
	margin-right: 5vw;
}

.ourServicesText h2 {padding-bottom: 20vh;
	font-weight: normal;
	letter-spacing: 5px;
	font-size: 36pt;
}

.ourServicesText hr {width: 14%;
	border: 5px solid red;
}

.ourServicesText h3, .studioText h3 {padding-bottom: 5vh;
	font-weight: normal;
	font-size: 30pt;
}

.ourServicesText p, .studioText p {padding-bottom: 5vh;
	font-weight: lighter;
	font-size: 24pt;
}

.ourServicesText ul, .studioText ul  {list-style: none;
	width: 600px;
	display: flex;
	justify-content: space-between;
}

.ourServicesText li, .studioText li {display: inline-block;
	font-size: 18pt;
}

.ourServicesText li hr, .studioText li hr {width: 30%;
	text-align: center;
	align-items: center;
	margin-left: 35%;
	border: 3px solid red;
}

.studioText {padding-top: 10vh;float: right;width:40vw; margin-left: 10vw}
.studio img {float: left;/**/width: 35vw; position: absolute;
}
